/* section */
section{
	width: 100%;
	height: 100%;
	margin-top: .88rem;
}
section .goods_total{
	width: 100%;
	height: .88rem;
	background-color: #747474;
	display: flex;
	flex: row nowrap;
	justify-content: space-around;
	align-items: center;
}
section .goods_total span{
	font-size: .3rem;
	color: #fff;
}
section .goods_total .total_amount{
	color: #aa1a1a;
}

section .shopping_detail .shopping_goods_list{
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	overflow: hidden;
}
section .shopping_goods_list li{
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #cbcbcb;
}
section .shopping_goods_list dl{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex: row nowrap;
}
section .shopping_goods_list dl dt{
	margin: .27rem .25rem .3rem .33rem;
}
section .shopping_goods_list dl dt img{
	width: 1.74rem;
	height: 1.74rem;
}
section .shopping_goods_list .shopping_goods_name{
	margin: .3rem 0;
	font-size: .3rem;
	color: #333333;
	width: 3.8rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
section .shopping_goods_list dl dd span{
	font-size: .3rem;
	color: #333;
	display: block;
}
section .shopping_goods_list .shopping_price{
	margin: .3rem 0;
}
section .shopping_goods_list .unit_price{
	display: inline-block;
	color: #ac1a1b;
}
section .shopping_goods_list .shopping_goods_quanlitity_title{
	width: 100%;
	height: 100%;
	display: flex;
	flex: row nowrap;
	justify-content: space-between;
	align-items: center;
}
section .shopping_goods_list .minus{
	display: inline-block;
	width: .56rem;
	height: .42rem;
	background-color: #5a5a5a;
	font-size: .5rem;
	color: #fff;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
	line-height: .42rem;
}
section .shopping_goods_list .input_goods_quanlitity{
	width: .75rem;
	height: .42rem;
	text-align: center;
	border: 1px solid #5a5a5a;
	border-radius: 4px;
}
section .shopping_goods_list .add{
	display: inline-block;
	width: .56rem;
	height: .42rem;
	background-color: #5a5a5a;
	font-size: .5rem;
	color: #fff;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
	line-height: .42rem;
}

